input[type="number"] {
  display: inline-block;
  width: 30px;
}

pre {
  font-family: inherit;
  font-size: inherit;
  background: inherit;
  border: inherit;
  word-break: inherit;
  white-space: pre-wrap;
}

.generated {
  max-width: 75%;
  overflow-wrap: break-word;
}

.part {
  padding: 10px 0;
}

.part:nth-of-type(2n + 1) {
  background-color: #f4f4f3;
}

.part:nth-of-type(2n + 0) {
  background-color: #e9e8e6;
}

.button
{
    font-size: 13px;
    color:rgb(0, 0, 0);
}